@font-face {
    font-family: 'arabic-bold';
    font-style: normal;
    font-weight: bold;
    src: url('../assets/fonts/arbfontsdroidkufibold.ttf');
  }
  @font-face {
    font-family: 'arabic-regular';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/arbfontsdroidkufiregular.ttf');
  }