<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581118858705-6kaqdpv0p7q835i6ijmla51g8i20qc0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581118858705-6kaqdpv0p7q835i6ijmla51g8i20qc0l</string>
	<key>API_KEY</key>
	<string>AIzaSyDaclt4-LRbB7PlRls3WSsDBE4NWEeWJnw</string>
	<key>GCM_SENDER_ID</key>
	<string>581118858705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raynmore.hafefly</string>
	<key>PROJECT_ID</key>
	<string>hafefly-android</string>
	<key>STORAGE_BUCKET</key>
	<string>hafefly-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581118858705:ios:fd4a3cf1bbf0edcf52fcf0</string>
</dict>
</plist>