.header{
    position: relative;
    top: 0;
    left: 0;
}
.image1{
    position: relative;
    top: 0;
    left: 0;
}
.image2{
    position: absolute;
    top: 35%;
    left: 50px;
    width: 70%;
}
.card{
    position: relative;
    margin-top: -12%;
}
ion-toolbar{
    --border-color: #01b3a4;
}
.toolbar{
    --background: transparent !important;
    --ion-font-family: 'arabic-bold';
}
ion-input{
    border-style: solid;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
    border-color: #05d6a9;
}
ion-checkbox{
    --background-checked: #05d6a9;
    --border-color-checked: #05d6a9;
}
.row1{
    padding-left: 5px;
    font-family: 'arabic-regular';
    margin-top: -20px;
}
.col1{
    margin-left: 2%;
}
.col2{
    margin-right: -45%;
}
.label{
    padding-right: 10px;
}
ion-button{
    --background: linear-gradient(to left, #a57204, #01b3a4);
    font-family: 'arabic-bold';
    margin-top: 8%;
    margin-bottom: 4%;
    width: 90%;
    margin-left: 5%;
}
ion-button:hover{
    --background-hover: linear-gradient(to left, #a57204, #01b3a4);
}