ion-tabs ion-label{
    font-family: 'arabic-bold';
    color: green;
}
ion-tabs{
    position: fixed;
    z-index: 3;
}
.hirak{
    position: relative;
    display: flex;
    width: 80%;
    margin-left: 10%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}
.avatar{
    position: absolute;
    display: flex;
    width: 30%;
    border-style: solid;
    border-radius: 100%;
    border-width: 10px;
    border-color: white;
    top: 22%;
    left: 35%;
}
.grid{
    margin-top: 20%;
}
.name{
    font-family: 'arabic-bold';
    font-size: 120%;
}
.job{
    font-family: 'arabic-regular';
}
.list{
    font-family: 'arabic-bold';
}
.HorizontalLine {
    width:85%;
    height:3px;
    background:#05d6a9;
    margin-top: 10%;
    margin-left: 7.5%;
}
ion-grid a{
    margin-top: 3%;
    font-size: 200%;
    padding: 3%;
    margin-left: 9%;
}
.facebook{
    color: #4267B2;
}
.twitter{
    color: #1DA1F2;
}
.instagram{
    color: #ec504b;
}
.youtube{
    color: #ec504b;
}
ion-input{
    border-style: solid;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
    border-color: #05d6a9;
}
ion-card ion-card-header{
    font-family: 'arabic-bold';
}
ion-card ion-card-header ion-icon{
    margin-bottom: -1.5%;
}
ion-card{
    width: 100%;
   // margin-bottom: 10%;
}
ion-card-header{
    margin-top: -10px;
}
ion-card-header ion-label{
    margin-right: 10px;
}
ion-card ion-icon{
    font-size: 20px;
}
#newName{
    width: 100%;
}
#newName card{
    width: 90%;
}