<ion-content>
  <div class="header">
    <div class="back">
      <ion-img class="hirak" src="../../../assets/img/hirak.jpg"></ion-img>
    </div>
    <div class="front">
      <ion-img class="avatar" src="../../../assets/img/avatar.png"></ion-img>
    </div>
  </div>
  <ion-grid class="grid">
    <ion-row>
      <div id="newName"></div>
    </ion-row>
    <div id="oldName">
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-text class="name">{{profile.firstname}} {{profile.lastname}}</ion-text>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-text class="job">{{profile.job}}</ion-text>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-text class="list">{{profile.list}} : القائمة</ion-text>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <div class="HorizontalLine"></div>
    </ion-row>
    <ion-row id="socialrow">
        <a href="{{profile.facebook}}" _blank><ion-icon class="facebook" name="logo-facebook"></ion-icon></a>
        <a href="{{profile.twitter}}"><ion-icon class="twitter" href="#" name="logo-twitter"></ion-icon></a>
        <a href="{{profile.instagram}}"><ion-icon class="instagram" href="#" name="logo-instagram"></ion-icon></a>
        <a href="{{profile.youtube}}"><ion-icon class="youtube" href="#" name="logo-youtube"></ion-icon></a>
    </ion-row>
    <div id="newSocial"></div>
    <ion-row id="lastRow">
      <ion-card>
        <ion-card-header class="ion-text-right">نبذة عني</ion-card-header>
        <ion-input [disabled]="disabled" value="{{profile.bio}}" class="ion-text-right"></ion-input>
        <ion-card-header class="ion-text-right">المدينة</ion-card-header>
        <ion-input [disabled]="disabled" value="{{profile.town}}" class="ion-text-right"></ion-input>
        <ion-card-header class="ion-text-right">المؤسسة</ion-card-header>
        <ion-input [disabled]="disabled" value="{{profile.company}}" class="ion-text-right"></ion-input>
        <!-- <ion-card-header class="ion-text-right">الوظيفة</ion-card-header>
        <ion-input readonly placeholder="" class="ion-text-right"></ion-input> -->
        <ion-card-header class="ion-text-right">السن</ion-card-header>
        <ion-input [disabled]="disabled" type="number" class="ion-text-right" placeholder="{{profile.age}}"></ion-input>
        <ion-card-header class="ion-text-right">الموقع</ion-card-header>
        <ion-input [disabled]="disabled" value="{{profile.location}}" class="ion-text-right"></ion-input>
      </ion-card>
      <ion-card>
        <ion-card-header class="ion-text-right">
          <ion-label>المؤهلات الاكادمية</ion-label>
          <ion-icon name="school-outline"></ion-icon>
        </ion-card-header>
      <ion-input [disabled]="disabled" value="{{profile.academic}}" class="ion-text-right"></ion-input>
      </ion-card>
      <ion-card>
        <ion-card-header class="ion-text-right">
          <ion-label>الخبرة المهنية</ion-label>
          <ion-icon name="briefcase-outline"></ion-icon>
        </ion-card-header>
        <ion-input [disabled]="disabled" value="{{profile.experience}} سنوات" class="ion-text-right"></ion-input>
      </ion-card>
      <ion-card>
        <ion-card-header class="ion-text-right">
          <ion-label>العمل التطوعي</ion-label>
          <ion-icon name="heart-half-outline"></ion-icon>
        </ion-card-header>
        <ion-input [disabled]="disabled" value="{{profile.volunteer}}" class="ion-text-right"></ion-input>
      </ion-card>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button [disabled]="editing" color="dark" (click)="edit()">
        <ion-icon name="brush-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" (click)="goToLogin()">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
